<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="cache-control" content="no-cache"/>
    <title>测评</title>
    <link rel="stylesheet" type="text/css" href="css/testing.css"/>
</head>
<body>
<div class="loading"><img src="../images/loading.gif"></div>
<div id="testing" name="testing" class="body-div" style="display: none">
    <div id="strip">
        <div class="stripBox">
            <span id="progress_text"><span>{{questionIndex+1}}</span><span>/</span><span>{{questionLength}}</span></span>
            <div class="strip">
                <div class="strip-down"></div>
                <div class="steip-up" id="progress" :style="{width: showProgress()}"></div>
                <img src="../images/test.png" :style="{left: showProgress()}">
            </div>
        </div>
    </div>
    <div id="hint" style="display:none">请选择答案</div>
    <div id="topic">
        <div class="subject" id="title">
            <label v-html="question.title"></label>
        </div>
        <!--单选题-->
        <div class="typeSingle" v-if="question.type != 'descr'" v-for="(choice,choiceIndex) in question.choices">
            <label :class="{checked:choice.checked}" :name="choiceIndex" ontouchstart="onTouchStart(event)" ontouchmove="onTouchMove(true)"
                   ontouchend="onTouchEnd(event)"
                   @touchend="onSelectChoice(choiceIndex)">
                <img v-if="choice.img" :src="choice.img">
                {{String.fromCharCode(choiceIndex+65)+'、'+choice.title}}
            </label>
        </div>
    </div>
    <ul class="bodyBottom">
        <li v-if="questionIndex==0" :class="{firstLi:questionIndex==0}">上一题</li>
        <li v-if="questionIndex!=0" :class="{preLi:questionIndex > 0}" @touchstart="prev()" id="preBtn">上一题</li>
        <li id="goDown" @touchstart="next()" v-show="questionIndex<questionLength-1">下一题</li>
        <li id="submit" @touchstart="normalSubmit()" v-show="questionIndex==questionLength-1">提交</li>
    </ul>
    <!--<iframe style="display: none;" id="iosIfram"></iframe>-->
    <div id="test-select-pay" style="display: none">
        <div class="close-select-pay" @touchstart="closePromotion(1)"><img src="../images/test/tanchuang_guanbi.png">
        </div>
        <div class="test-img">
            <img :src="testObj.img">
            <p>{{testObj.title}}</p>
        </div>
        <div id="test-SalePrice"><!-- v-if="testDJsonStr.isSalePrice==1"-->
            <p>机智！ </p>
            <p>恭喜你成为愿意深入了解自己的人</p>
            <p>本测评价格：<span>{{price(testObj.showPrice)}}</span></p>
            <p>目前处在推广期</p>
            <p>只要。。。。</p>
            <p>oh my god</p>
            <p><span>{{price(salePrice)}}</span>！！</p>
            <p>
                本测评有效期：<span>{{validDays}}</span>天
            </p>
        </div>
        <div id="test-not-SalePrice" v-if="testObj.isSalePrice==0" style="display: none">
            <p>机智！</br>恭喜你成为愿意深入了解自己的人</br>
                本测评价格：<span>{{testObj.price+'/人'}}</span></br>
                目前不是推广期</br>
                所以，还是<span>{{price(testObj.price)+'/人'}}</span></br>
            </p>
            <p>
                （下次啥时候推广完全取决于老板拍脑袋，</br>
                老板太爱忘事，</br>
                嘘...</br>
                所以，我劝你还是现在就买了吧）</p>
        </div>
        <div class="test-btn-pay" @touchstart="getOrder('person')">太幸运啦～</div>
    </div>
    <div id="shade" style="display: none"></div>
</div>
<script type="text/javascript" src="js/testing.js"></script>
<script>
    //改颜色
    var preBtn = document.getElementById("preBtn");
    preBtn.style.borderColor = localStorage.getItem('companyBtnColor');
    preBtn.style.color = localStorage.getItem('companyBtnColor');
    var goDown = document.getElementById("goDown");
    goDown.style.borderColor = localStorage.getItem('companyBtnColor');
    goDown.style.color = localStorage.getItem('companyBtnColor');
    var submit = document.getElementById("submit");
    submit.style.background = localStorage.getItem('companyBtnColor');
    submit.style.borderColor = localStorage.getItem('companyBtnColor');
</script>
</body>
</html>