.img{
    width: 100%;
}
.test-title,.trait,.dimension{
    margin: 0.5rem auto;
}
.test-title canvas{
    width: 4.578125rem;
    height: 4.578125rem;
    margin:10% 20% 5% 20%;
}
.test-title #container{
    display: inline-block;
    min-width: 6rem;
    height: 5.3rem;
    width: 100%;
}
.trait .p1{
    font-size: .5rem;
    color: #EF7E38;
}
.trait .p2{
    clear: both;
    font-size: 0.375rem;
    color: #81807E;
    line-height: 1.6;
    text-align: left;
    margin-top: 0.4rem;
}
.trait .work{
    padding-bottom: 0.5rem;
}
.dimension div,.test-dimension{
    margin-bottom: 0.5rem;
    padding: 0.3125rem;
    font-size: 0.375rem;
    text-align: left;
}
.dimension div .p3,.test-dimension span{
    display: inline-block;
    height: 0.7rem;
    line-height: 0.7rem;
    padding: 0 0.15rem;
    border-radius: 2px;
    background: #FFFFFF;
    font-size: 0.3rem;
}
.dimension div .p4,.test-dimension p:nth-of-type(1){
    line-height: 0.75rem;
    margin: 0.1rem;
}
.result-image{
    height: 6.3rem;
    width: 100%;
    margin-bottom: .8rem;
}
.result-image img{
    height: 100%;
    width: 100%;
}