.slider_image{
    width: 100%;
    height: 40%;
    background: greenyellow;
    position: relative;
}
#slider_img{
    width: 100%;
    height: 100%;
}
#play_progress{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.3467rem;
    margin: 0;
    background: #000;
    opacity: .6;
    color: #fff;
    font-size: .5333rem;
}
#current_time{
    height: 1.3467rem;
    line-height: 1.3467rem;
    float: left;
    color: #00BBD2;
    font-size: .3466rem;
    width: 13%;
    text-align: center;
}
#progress_div{
    width: 74%;
    height: 1.3467rem;
    float: left;
}
#duration_time{
    height: 1.3467rem;
    line-height: 1.3467rem;
    float: right;
    color: #00BBD2;
    font-size: .3466rem;
    text-align: center;
    width: 13%;
}
#slider_button_div{
    height: .9466rem;
    margin: .5rem auto;
    padding: 0 .5rem;
}
#play_img{
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -.5rem; /* 高度的一半 */
    margin-left: -.5rem; /* 宽度的一半 */
}
#slider_button_div img{
    float: right;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
}
#slider_content_div{
    padding: 0 .5rem;
    font-size: .4rem;
    line-height: .8rem;
    color: #393932;
    margin-bottom: .5rem;
}
#second_progress{
    width: 74%;
    height: .2rem;
    background: #00BBD2;
    top: 50%;
    position: absolute;
    margin-top: -.1rem;
}
#progress{
    width: 100%;
    background: white;
}