/*弹出框灰色背景*/
.dialog_bg{
	background: rgba(0, 0, 0, 0.5);
}
#delete_dialog{
	position: fixed;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

/*弹出框背景*/
.delete_div{
	background-color: #fff;
	border-radius: 5px;
	border: none;
	outline: none;
}
#delete_div{
	height: 9rem;
}

/*删除提示内容*/
#delete_content{
	width: 100%;
	height: 3rem;
	font-size: 1rem;
	line-height: 3rem;
	text-align: center;
}

/*线*/
.delete_line{
	background-color: #fcab55;
	height: 1px;
}

/*按钮区域*/
#delete_operate{
	width: 60%;
	height: 6rem;
	padding: 2rem;
	margin: auto;
}

/*确定按钮*/
.ok_button{
	width: 4rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 5px;
	background-color: #fcab55;
	border: none;
	outline: none;
	font-size: 1rem;
	color: #fff;
	text-align: center;
}
#ok_button{
	float: right;
}


/*取消按钮*/
.cancel_button{
	width: 4rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 5px;
	background-color: #aaa;
	border: none;
	outline: none;
	font-size: 1rem;
	color: #fff;
	text-align: center;
}
#cancel_button{
	float: left;
}